* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

/* header */

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(30px + 2vw);
    background-color: rgb(147, 147, 206);
    /* padding: 25px 0; */
    height: 50px;
    font-size: 20px;

}

.nav-menu {
    position: relative;
    
}

.nav-menu span {
    font-size: 15px;
}

.dropdown-list {
    width: max-content;

    background-color: rgb(70, 223, 83);
    position: absolute;
    z-index: 99;
    top: 36px;
    left: 0;


    display: none;

}

.dropdown-list a {
    padding: 5px 10px;
    display: block;
    border-bottom: 2px solid white;


}
.navlinks li a{
    padding: 12px;

}

.navlinks li a:hover {
    color: #ff008c;
    transition: all .3s ease-in-out;
    background-color: #f1f108;



}


.navlinks li :hover .dropdown-list {
    display: block;
    transition: all 1s ease-in-out;

}

.dropdown-card {
    display: flex;

}

.dropdown-card a {
    width: 25%;
}
.dropdown-list a:last-child{
    border-bottom: none;
}






/* sec-1 */
.cont {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.demo1 {
    height: 50px;
    width: 100vw;
    background-color: green;
    /* transform-origin: bottom ; */
    position: relative;


}

.demo1 img {
    position: absolute;
    top: -105px;
    width: 150px;
    left: -10px;
    z-index: -1;
    animation-name: carmove;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes carmove {
    0% {
        left: 0;
    }

    100% {
        left: 1200px;
    }
}

.demo2 {
    height: 200px;
    width: 200px;
    background-color: #80004b;


}

.demo3 {
    height: 200px;
    width: 200px;
    background-color: #800900;
}

.demo4 {
    height: 200px;
    width: 200px;
    background-color: #80004b;
}

.demo1:hover {
    /* translate: -200px; */
    /* transition: all 1s ease-in-out; */
    /* transform: scale(2, .5); */
}

.demo2:hover {
    /* translate: 100px; */
    /* transition: all 1s ease-in-out; */
    /* transform: skew(-20deg, 45deg); */

}

/* sec-2 */

.sec-2 {
    /* background-color: aqua; */
    border: 1px solid black;
    margin: 0 auto;
    padding: 30px 15px;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.col {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    padding-right: 20px;
    animation: spin 15s infinite linear;


}

.box {
    flex: 0 0 300px;
    /* width: 30%; */
    height: 200px;
    background-color: #001346;
    color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}


/* amimation */
.sec-3 {
    margin-top: 50px;
}

.carousel-animation {
    display: flex;
    overflow-x: auto;



}
.carousel-animation::-webkit-scrollbar{
    display: none;
}

.group {
    display: flex;
    gap: 30px;
    animation: infmove 15s infinite reverse;
    padding-right: 30px;

}

.ami-div {
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: green;
    color: #fff;
}

@keyframes infmove {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

.orbit-block {

    width: 300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;
    animation: orbit 7s infinite linear;
    padding: 20px;
}

.orbit-planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f108;
}

@keyframes orbit {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);

    }
     /* 0%, 100%{
        transform: translate(0)
     }
     25%{
        transform: translate(250px);
     }
     50%{
        transform: translate(250px, 160px);
     }
     75%{
        transform: translate(0, 160px);

     } */

}

.photo-college {
    padding: 350px;
    display: flex;
    align-items: center;
    position: relative;
}

.photo-college div {
    width: 200px;
    height: 220px;
    padding: 5px;
}
.photo-college img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.img-1 {
    position: absolute;
    /* background-color: red; */
    background-image: conic-gradient(red, yellow, green,blue,purple);
    z-index: 3;
    left: 100px;
    top: 230px;
    transform: rotate(-20deg);
    transform-origin: bottom right;
}

.img-2 {
    position: absolute;
    background-color: blue;
    z-index: 4;
    left: 160px;
    transform: rotate(-10deg);
    transform-origin: bottom right;


}

.img-3 {
    position: absolute;
    background-color: rgb(16, 227, 16);
    z-index: 7;
    left: 250px;
    top: 270px;

}

.img-4 {
    position: absolute;
    background-color: yellow;
    z-index: 4;
    left: 340px;

    transform: rotate(10deg);
    transform-origin: bottom left;



}

.img-5 {
    position: absolute;
    /* background-color: rgb(219, 10, 45); */
    background-image: conic-gradient(violet, yellow, green,blue,purple);

    z-index: 3;
    left: 400px;
    top: 230px;

    transform: rotate(20deg);
    transform-origin: bottom left;


}

.photo-college div:hover {
    z-index: 10;
    transform: scale(1.2);
    transition: transform 2s;
}

/* transform-property */

.transform-property{
display: flex;
justify-content: space-between;
    /* flex-direction: column; */
}
.transform-property div{
    width: 150px;
    height: 150px;
    background-color: #ff008c;
    
}
.transform-property div:nth-child(odd){

background-color: #f1f108;
}
.scale:hover{
transform: scale(2,.5);
/* transform: scale(.7,-1); */

transition: all 2s ease-in-out;
}
.skew:hover{
transform: skew(30deg, 20deg);
transform: skew(60deg, -30deg);

transition: all 2s ease-in-out;

}
.translate:hover{
    transform: translate(80px, -20%);
    /* transform: translate(-80px, 50%); */

transition: all 2s ease-in-out;

}
.rotate:hover{
transform: rotate(4turn);
/* transform: rotate(180deg); */
transition: all 2s ease-in-out;


}
.HNY{
    margin: 100px 0;
    overflow: hidden; 

    

}
.happy{
    font-size: 50px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.h{
color: orangered;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: slide 2s;
animation-fill-mode: both;
}
.a{
color: yellow;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: slide 2s;
animation-fill-mode: both;
animation-delay: 1s;
}
.p{
color: green;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: slide 2s;
animation-fill-mode: both;
animation-delay: 2s;
}
.pp{
color: yellow;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: slide 2s;
animation-fill-mode: both;
animation-delay: 3s;

}
.y{
color: green;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: slide 2s;
animation-fill-mode: both;
animation-delay: 4s;

}
@keyframes slide{
    from{
        transform: translate(-200px);
    }
    to{
        transform: translate(500px);
    }
}
.new{
   font-size: 50px;
    font-weight: 700;
    display: flex;
    gap: 5px; 
}
.n{
  color: orangered;

text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: drop 2s;
animation-fill-mode: both;
animation-delay: 5s;  
}
.e{
 color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: drop 2s;
animation-fill-mode: both;
animation-delay: 6s;  
}
.w{
 color: orangered;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: drop 2s;
animation-fill-mode: both;
animation-delay: 7s;  
}

@keyframes drop{
    from{
        transform: translate(600px, -200px);
    }
    to{
        transform: translate(600px, 0px);
    }
}
.year{
     font-size: 50px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.yy{
color: green;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: year 2s;
animation-fill-mode: both;
animation-delay: 8s;  
}
.ee{
color: yellow;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: year 2s;
animation-fill-mode: both;
animation-delay: 9s;  
}
.aa{
color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: year 2s;
animation-fill-mode: both;
animation-delay: 10s;  
}
.r{
color: orangered;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: year 2s;
animation-fill-mode: both;
animation-delay: 11s;  
}
@keyframes year{
    from{
        transform: translate(1500px);
    }
    to{
        transform: translate(650px);

    }
}
.new-year{
   font-size: 50px;
    font-weight: 700;
    display: flex;
    /* flex-direction: column; */
    gap: 10%;
}
.digit1{
color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: digit 2s;
animation-fill-mode: both;
animation-delay: 12s; 
}
.digit2{
color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: digit 2s;
animation-fill-mode: both;
animation-delay: 13s; 
}
.digit3{
color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: digit 2s;
animation-fill-mode: both;
animation-delay: 14s; 
}
.digit4{
color: blue;
text-shadow: 3px 2px 2px rgb(255, 0, 149);
animation: digit 2s;
animation-fill-mode: both;
animation-delay: 15s; 
}
@keyframes digit{
from{
    transform: translate(400px, -300px);
}
to{
    transform: translate(400px, 0px);
}
}
