*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    margin: 0 auto;
    
}
section{
    padding: 30px 0;
    background-image: url(bg-car1.webp);
    width: 100%;
    /* background-repeat: no-repeat; */
    background-position: top;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(42, 183, 239);
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 700;
    text-shadow: 1px 0px 1px #fff;

}
h1 span{
    /* color:rgb(21, 193, 21); */
    color: orangered;
}
.form-div{
    box-shadow: 0px -2px 14px 2px white;
    background-color: #023a3c;
    margin: 0 20%;
    padding: 20px 0;
    opacity: .7;
    border-radius: 40px 0;


}
.FormFlex{
    display: flex;
    flex-wrap: wrap;

}
.FormFlexChild{
    width: 50%;
    padding: 10px 5%;
}
.extend-flex{
    width: 100%;
}
.FormFlexChild input, textarea,select{
    width: 100%;
    border-radius: 5px;
    border: .5px solid rgb(172, 168, 168);
    padding: 8px;
    margin: 10px 0;
}
.FormFlexChild input:focus, .FormFlexChild textarea:focus,.FormFlexChild select:focus{
    outline: none;
    border: 3px solid rgb(21, 193, 21);
    /* box-shadow: 0 0 8px rgb(21, 193, 21); */
}
fieldset{
    padding: 15px 12px 25px;
    border-radius: 5px;
    /* border: 2px solid rgb(21, 193, 21); */
}
.FormFlexChild label,legend{
    color: rgb(21, 193, 21);

}
.selection-label{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.selection-label div{
    display: flex;
    gap: 5px;
}
.selection-label label{
    color: #fff;
}
.selection-label input{
    margin-top: 2px;
}
button{
    padding: 10px 10%;
    background-color: rgb(21, 193, 21);
    border-radius: 5px;

    /* background-image: linear-gradient(to right,rgb(21, 193, 21),rgb(7, 127, 174)); */
    border: none;

}
.required::after{
    content: '*';
    color: orangered;
    font-size: 20px;

}
@media  (max-width:500px) {
    .form-div{
        margin: -30px 0;
    }
    .FormFlexChild{
        width: 100%;
    }
}