*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
ul, a {
    text-decoration: none;
    list-style: none;
}
.heading-sec{
    display: flex;
    justify-content: center;
    margin: 100px 0;

}
.heading{
    padding: 5px ;
    border-radius: 10px;
    background: #833AB4;
    position: relative;
background: -webkit-linear-gradient(45deg,blue,  rgb(12, 232, 12),blue, rgb(12, 232, 12),blue);
background-size: 200%;
animation: backmove 1s ease-in-out infinite;
}
@keyframes backmove{
    0%{
        background-position: 0% ;
    }
    100%{
        background-position: 100%;
    }
}

.heading h2{
    padding: 6px 12px;
    background-color: yellow;
    font-size: 3rem;
    border-radius: 10px;

}
.heading:hover h2{
    background: magenta;
    color: #fff;
}
/* animation */

.animation-sec{
    display: flex;
    justify-content: center;
    gap: 40px;
    

}
.fade{
    animation: fade 2s ease-in-out infinite;
}
.bounce{
    animation: bounce 5s ease-in-out infinite alternate;
    /* animation-delay: 12s; */

}
.slide{
    animation: slide 5s ease-in-out alternate infinite;
    /* animation-delay: 6s; */

}
.animation-col{
    width: 250px;
    height: 250px;
    background-color: orangered;
    border-radius: 20px;
    position: relative;
    
}
.bordermove::after, .bordermove::before {
content: '';
--angle: 0deg;
width: 100%;
height: 100%;
padding: 5px;
border-radius: 20px;
position: absolute;
top: 50%;
left: 50%;
translate: -50% -50%;
z-index: -1;
animation: bordermove 3s linear infinite;
background: conic-gradient(from var(--angle), transparent 80%,blue,transparent );
}
.bordermove::before{
filter: blur(10px);
background: conic-gradient(from 45deg,yellow,blue,yellow,red,yellow);
opacity: .5;
}
@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
@keyframes bordermove{
from{
    --angle: 0deg;
}
to{
    --angle: 360deg;

}
}
/* bordermove end */

@keyframes fade{
0%{
    opacity: 0.2;
}
50%{
    opacity: 1;
}
100%{
    opacity: 0.2;
}
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-50px);

    }
    100%{
        transform: translateX(50px);

    }
}
@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
        
    }
    100%{
        transform: translateY(50px);

    }
}
 /* button style */
.button-style{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    background: rgb(22, 19, 25);
    padding: 50px 0;
}
 .animated-btn{
    padding: 12px 24px;
    background: #833AB4;
    color: #fff;
    box-shadow: 0 2px 4px rgb(85, 83, 83);
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  transition:  all .5s ease-in-out; 


 }
 .btn-1{
background: linear-gradient(169deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(245, 230, 20, 1) 100%);

 }
 .btn-1::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(171, 9, 109);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  transition:  all .5s ease-in-out; 

}
.btn-1:hover{
  color: #000;
  transition:  all .5s ease ease-in-out; 

    
}
.btn-1:hover::before{
  transform: translateX(-100%); 
    
}
/* btn-2 */
.btn-2{
    background: linear-gradient(230deg, red 0%, rgb(31, 31, 240) 50%, rgb(4, 1, 11) 100%);

}
.btn-2::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(28, 171, 9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  transition:  all .5s ease; 

}
.btn-2:hover::before{
    transform: translateY(80%);
}
/* btn-3 */
.btn-3{
    background: linear-gradient(45deg, purple, blue,purple) border-box;

}
.btn-3::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(40, 38, 38);
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 600%;
    z-index: -1;
    transition:  all .5s ease;
}
.btn-3:hover::after{
    transform: skew(90deg);
}
/* btn-4 */
.btn-4{
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0 2px 4px rgb(85, 83, 83);
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    

}
.btn-4::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgb(255, 171, 16),rgb(230, 63, 3),rgb(255, 171, 16),rgb(230, 63, 3),rgb(255, 171, 16));
    background-size: 200%;
    padding: 8px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    filter: blur(4px);
    animation: backmove 1s linear infinite;
    transition: all 1s ease-in-out;


}
.btn-4::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(91, 80, 80);
    /* background-size: 200%; */
    padding: 2px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    animation: backmove 1s  infinite ;
    transition: all 1s ease-in-out;


}
.btn-4:hover::after{
    border: 2px solid #fff;
    transition: all 1s ease-in-out;

}
.btn-4:active::after{
    /* background: transparent; */

    
}
.btn-4:hover {
    transform: scale(1.1);
    transition: border .5s ease-in-out;


}
.btn-4:focus::after{
    background: transparent;
}
/* btn-5 */
.btn-5{
    background: #000;
}
.btn-5::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 147);
    position: absolute;
    top: 0;
    left: -50%;
    z-index: -1;
}
.btn-5::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 147);
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
}
.btn-5:hover::before{
        transform: rotateY(180deg);
        transition: all 2s ease-in-out;

}
.btn-5:hover::after{
        transform: rotateY(180deg);
        transition: all 2s ease-in-out;

}

/* btn-6 */
.btn-6{
    border: 2px solid #4deeea ;
    background: radial-gradient(black,rgb(73, 71, 71));
    overflow: visible;
}
.btn-6::before{
    content: '';
    width: 10px;
    height: 3px;
    background: #000;
    position: absolute;
    top: -3px;
    left: 10%;
    z-index: 1;
    transition: all 1s ease-in-out;

}
.btn-6::after{
    content: '';
    width: 10px;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -3px;
    right: 10%;
    z-index: 1;
    transition: all 1s ease-in-out;

}
.btn-6:hover::before{
    transform: translateX(700%);
    transition: all 1s ease-in-out;

}
.btn-6:hover::after{
    transform: translateX(-700%);
    transition: all 1s ease-in-out;

}
/* btn-7 */
.btn-7{
    border-right: 2px solid white;
    border-left: 2px solid white;
    background-color: green;
    position: relative;
z-index: 1;

}
.btn-7::before{
    content: '';
position: absolute;
top: 50%;
left: 50%;
translate: -50% -50%;
border-radius: 50%;
z-index: -1;
width: 120px;
height:120px ;
background-color: red;
    transition: all 1s ease-in-out;

}
.btn-7:hover::before{
    transform: scale(0);
    transition: all 1s ease-in-out;
}
.btn-7:hover{
   color: yellow; 
   border-color: yellow;
}
/*btn-8*/
.btn-8{
    padding: 18px 30px;
    background-color: rgb(21, 21, 55);
    border: none;
    letter-spacing: 3px;
    color: #1779ff;
    position: relative;
}
.btn-8:hover p{
    color: red;
    transition: all .2s ease-in-out;
    animation: text-focus-in .2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0.2;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.btn-8 span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #0c002b,blue);
    animation: span1 2s  infinite linear alternate ;
}
@keyframes span1{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(40%);
    }
    100%{
        transform: translateX(-40%);
    }
}
.btn-8 span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, #0c002b,blue);
    animation: span2 2s  infinite linear alternate;

}
@keyframes span2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(50%);
    }
}
.btn-8 span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, #0c002b,blue);
    animation: span3 2s  infinite linear alternate;

}
@keyframes span3{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(40%);
    }
}
.btn-8 span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, blue,#0c002b);
    animation: span4 2s infinite linear alternate;

}
@keyframes span4{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(-50%);
    }
}


/* animated-img*/
.animated-img{
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    width: 200px;
    position: relative;


}
.animated-img img{
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;

}
.animated-img img:hover{
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}
.animated-img::before{
    content: 'Article';
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(49, 45, 45, 0.5);
    font-size: 2rem;
    width: 100%;
    height: 25%;
    position: absolute;
    z-index: 1;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;

}
.animated-img:hover::before{
    transform: translateY(0%);
    transition: all .5s ease-in-out;


}
.animated-img::after{
    content: 'A quick brown fox jumps over the lazy dog.';
    color: greenyellow;
    text-align: center;
    display: flex;
    align-items: center;
    background: rgba(49, 45, 45, 0.5);
    font-size: 1.5rem;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: all .5s ease-in-out;

    transform: translateY(100%);
}
.animated-img:hover::after{
    transform: translateY(0%);
    transition: all .5s ease-in-out;


}

